@import "~vuetify/src/styles/styles.sass";

.app-icon {
  fill: rgb(0, 0, 0, 0.87);
}

// nav-bar
.navbar-logo {
  font-size: 1.15em;
  letter-spacing: 0.05em;
}

.navbar {
  z-index: 9;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

// scrollbar
::-webkit-scrollbar {
  height: 6px; /* height of horizontal scrollbar â† You're missing this */
  width: 6px; /* width of vertical scrollbar */
  background: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

// process-column
.v-slide-group.v-item-group > .v-slide-group__next,
.v-slide-group.v-item-group > .v-slide-group__prev {
  display: none;
}

.v-slide-group__content {
  overflow-x: auto !important;
}

.v-slide-group__wrapper {
  overflow-x: auto !important;
}

// page column
.inner-sidebar {
  padding: 15px 15px 15px 20px !important;
  box-shadow: -10px 0 20px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.inner-sidebar-withoutpadding {
  box-shadow: 6px 0px 8px -5px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

.inner-sidebar-withoutpadding-reverse {
  box-shadow: 6px 0px 8px -5px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

// v-list
.v-list-item--active.theme--dark {
  color: white;
}

.text-active {
  color: #a64ed1 !important;
}

.card-active {
  border: 2px solid #42a5f5 !important;
}

.card-active-filled {
  background-color: #42a4f562 !important;
}

// v-card
// .v-card {
//   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.09);
// }

$sheet-border-radius: 5px;
$body-font-family: sans-serif !default;

// grid-expand
.flex.xs15 {
  flex-basis: 14.285714285714%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 14.285714285714%;
}

// acrylic
.acrylic {
  backdrop-filter: saturate(180%) blur(20px);
  opacity: 0.85;
}

.green-acrylic {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #3e9153c0 !important;
}

@media (prefers-color-scheme: dark) {
  .app-icon {
    fill: white;
  }
}

.v-label {
  font-size: 12px;
}

.v-breadcrumbs {
  padding: 0 20px !important;
}
