@import "~vuetify/src/styles/styles.sass";

// text-field
.text-field-dense.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 36px;
}

.text-field-semidense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 48px;
}

.text-field-semidense.v-text-field--outlined .v-label {
  top: 14px;
  font-size: 14px;
}

.v-input {
  font-size: 14px;
}

.text-field-dense.v-text-field--outlined .v-label {
  top: 8px;
  font-size: 14px;
}

.text-field-dense.v-text-field.v-text-field--enclosed .v-input__prepend-inner {
  margin-top: 7px;
}

.v-text-field.v-text-field--enclosed .v-input__append-outer,
.v-text-field.v-text-field--enclosed .v-input__append-inner {
  margin-top: 12px;
}

.v-text-field--filled > .v-input__control > .v-input__slot {
  min-height: 26px;
}

// nav-bar
.navbar-logo {
  font-size: 1.15em;
  letter-spacing: 0.05em;
}

.navbar {
  z-index: 9;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

// // scrollbar
// ::-webkit-scrollbar {
//   height: 6px; /* height of horizontal scrollbar â† You're missing this */
//   width: 6px; /* width of vertical scrollbar */
//   background: transparent;
//   border-radius: 3px;
// }

// ::-webkit-scrollbar:hover {
//   background: #f1f1f1;
// }

// ::-webkit-scrollbar-thumb {
//   background: #b3b3b3;
//   border-radius: 3px;
// }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

// process-column
.v-slide-group.v-item-group > .v-slide-group__next,
.v-slide-group.v-item-group > .v-slide-group__prev {
  display: none;
}

.v-slide-group__content {
  overflow-y: hidden;
  overflow-x: auto;
}

.v-slide-group__wrapper {
  overflow-x: auto;
}

// page column
.inner-sidebar {
  padding: 15px 15px 15px 20px !important;
  box-shadow: -10px 0 20px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.inner-sidebar-withoutpadding {
  box-shadow: 5px 0 20px -5px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

.inner-sidebar-withoutpadding-reverse {
  box-shadow: 5px 0 20px -5px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

// v-list
.v-list-item--active.theme--dark {
  color: white;
}

.text-active {
  color: #a64ed1 !important;
}

.card-active {
  border: 2px solid rgba(184, 116, 219, 0.8) !important;
}

.card-active-filled {
  background-color: rgba(227, 186, 248, 0.8) !important;
}

// v-card
// .v-card {
//   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.09);
// }

$sheet-border-radius: 5px;
$body-font-family: sans-serif !default;

// grid-expand
.flex.xs15 {
  flex-basis: 14.285714285714%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 14.285714285714%;
}

// acrylic
.acrylic {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #ffffffc0 !important;
}

.green-acrylic {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #3e9153c0 !important;
}

.v-label {
  font-size: 12px;
}

.v-breadcrumbs {
  padding: 0 20px !important;
}
