@import "~vuetify/src/styles/styles.sass";

.navbar-logo {
  font-size: 1.25em;
}

/* width */
::-webkit-scrollbar {
  height: 6px; /* height of horizontal scrollbar â† You're missing this */
  width: 6px; /* width of vertical scrollbar */
  background: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar:hover {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}

.container {
  padding: 12px;
}

.process-column {
  padding: 10px;
  height: 100%;
}

.v-toolbar__content,
.v-toolbar__extension {
  padding: 4px 20px;
}

.navbar {
  z-index: 9;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.text-field-dense.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 36px;
}

.text-field-semidense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 48px;
}

.text-field-semidense.v-text-field--outlined .v-label {
  top: 14px;
  font-size: 14px;
}

.v-input {
  font-size: 14px;
}

.text-field-dense.v-text-field--outlined .v-label {
  top: 8px;
  font-size: 14px;
}

.text-field-dense.v-text-field.v-text-field--enclosed .v-input__prepend-inner {
  margin-top: 7px;
}

.v-slide-group.v-item-group > .v-slide-group__next,
.v-slide-group.v-item-group > .v-slide-group__prev {
  display: none;
}

.v-slide-group__content {
  overflow-y: hidden;
  overflow-x: auto;
}

.v-slide-group__wrapper {
  overflow-x: auto;
}

.inner-sidebar {
  padding: 15px 15px 15px 20px !important;
  box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.inner-sidebar-withoutpadding {
  box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.v-list-item--active.theme--dark {
  color: white;
}

.text-active {
  color: #a64ed1 !important;
}

.card-active {
  background-color: #f5eafa !important;
}

.v-progress-linear--absolute,
.v-progress-linear--fixed {
  z-index: 999;
}
